@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Form Düzenleme";
}
<div class="card mb-1">
    <div class="card-body">
        <div class="col-sm-12">
            <h4>@Model.FormMases.Select(s => s.Name).FirstOrDefault()</h4>
        </div>
        <form asp-controller="Hr" asp-action="CreateFormDetail" class="col-sm-12 d-flex">
            <div class="col-sm-1 pe-1">
                <select class="form-select form-select-sm fs--2" id="selectTip" onchange="getBagliBaslik(this.value)" name="TextLevel" required>
                    <option value="0">Başlık</option>
                    <option value="1">Alt Başlık</option>
                    <option value="2">Detay</option>
                </select>
            </div>
            <div class="col-sm-4 pe-1">
                <textarea class="form-control form-control-sm fs--2" rows="1" name="Explanation"></textarea>
            </div>
            <div class="col-sm-3 pe-1 d-none" id="selectUstBaslik">
                <select class="form-select form-select-sm fs--2" name="Title">
                    <option value="">İlişkili Başlık Seçiniz..</option>
                    @foreach (var item in Model.FormDetails.Where(w => w.TextLevel == 0).OrderBy(o => o.Explanation))
                    {
                        <option value="@item.Id">@item.Explanation</option>
                    }
                </select>
            </div>
            <div class="col-sm-3 pe-1 d-none" id="selectAltBaslik">
                <select class="form-select form-select-sm fs--2" name="LowerTitle">
                    <option value="">İlişkili Alt Başlık Seçiniz..</option>
                    @foreach (var item in Model.FormDetails.Where(w => w.TextLevel == 1).OrderBy(o => o.Explanation))
                    {
                        <option value="@item.Id">@item.Explanation</option>
                    }
                </select>
            </div>
            <div class="col-sm-1 pe-1">
                <input class="form-control form-control-sm fs--2 text-end" type="number" placeholder="Sıra" name="Sequence" required />
            </div>
            <div class="col-sm-1 pe-1">
                <button class="btn btn-sm btn-outline-success" type="submit" onmouseover="valid()" onkeydown="valid()" name="MasId" value="@Model.FormMases.Select(s=>s.Id).FirstOrDefault()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-12 d-flex pe-1">
    <div class="card col-sm-4">
        <div class="card-body">
            <div class="col-sm-12">
                <h6>Form içeriği</h6>
            </div>
            <hr />
            <div class="col-sm-12">
                <table>
                    <tbody>
                        @foreach (var item in Model.FormDetails.Where(w => w.TextLevel == 0).OrderBy(o => o.Sequence))
                        {
                            <tr>
                                <td>
                                    <label class="form-label fs--1 fw-bold">@item.Explanation <span class="badge rounded-pill badge-soft-success pt-2 pointer" data-bs-toggle="modal" data-bs-target="#ratioModal" onclick="setIdRatio(@item.Id)">%@(item.Weight)</span></label>
                                </td>
                            </tr>
                            @foreach (var itemLt in Model.FormDetails.Where(w => w.TextLevel == 1 && w.Title == item.Id.ToString() && !string.IsNullOrEmpty(w.Title)).OrderBy(o => o.Sequence))
                            {
                                <tr>
                                    <td>
                                        <label class="form-label fs--2 fw-bold fst-italic"><ul>@itemLt.Explanation <span class="badge rounded-pill badge-soft-primary pt-2 pointer" data-bs-toggle="modal" data-bs-target="#ratioModal" onclick="setIdRatio(@itemLt.Id)">%@(itemLt.Weight)</span></ul></label>
                                    </td>
                                </tr>
                                @foreach (var itemDt in Model.FormDetails.Where(w => w.TextLevel == 2 && w.LowerTitle == itemLt.Id.ToString() && !string.IsNullOrEmpty(w.LowerTitle)).OrderBy(o => o.Sequence))
                                {
                                    <tr>
                                        <td>
                                            <label class="form-label fs--2"><li>@itemDt.Explanation <span class="badge rounded-pill badge-soft-warning pt-2 pointer" data-bs-toggle="modal" data-bs-target="#ratioModal" onclick="setIdRatio(@itemDt.Id)">%@(itemDt.Weight)</span></li></label>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card col-sm-8 ms-1">
        <div class="card-body" style="background-color:#e9ecef">
            <div class="col-sm-12">
                <h6>Önizleme</h6>
            </div>
            <div class="col-sm-12 text-center">
                <label class="form-label fw-bold">@Model.FormMases.Select(s => s.Name).FirstOrDefault()</label>
            </div>
            <hr/>
            <table class="fw-bold mb-3" style="margin-left:auto;margin-right:auto;">
                <tbody>
                    <tr>
                        <td>Adı Soyadı</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Bölüm</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Görevi/Ünvanı</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>T.C. Kimlik No</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>İşe Giriş Tarihi</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Eğitim Düzeyi</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kıdem Süresi</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Toplam İş Tecrübesi</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    @foreach (var item in Model.FormDetails.Where(w => w.TextLevel == 0).OrderBy(o => o.Sequence))
                    {
                        <tr>
                            <td>
                                <label class="form-label fw-bold text-primary">@item.Explanation</label>
                            </td>
                        </tr>
                        @foreach (var itemLt in Model.FormDetails.Where(w => w.TextLevel == 1 && w.Title == item.Id.ToString() && !string.IsNullOrEmpty(w.Title)).OrderBy(o => o.Sequence))
                        {
                            <tr>
                                <td>
                                    <label><ul class="form-label fs--2 fw-bold fst-italic align-middle text-info">@itemLt.Explanation :</ul></label>
                                </td>
                            </tr>
                            @foreach (var itemDt in Model.FormDetails.Where(w => w.TextLevel == 2 && w.LowerTitle == itemLt.Id.ToString() && !string.IsNullOrEmpty(w.LowerTitle)).OrderBy(o => o.Sequence))
                            {
                                <tr class="fw-bold">
                                    <td>
                                        <label class="form-label fs--2"><li>@itemDt.Explanation</li></label>
                                    </td>
                                </tr >
                                <tr>
                                    <td class="d-flex justify-content-between">
                                        <div class="text-center">
                                            <span>[1 - ÇOK ZAYIF]</span><br />
                                            <input class="form-check-input" type="radio" name="@itemDt.Id" value="1" />
                                        </div>
                                        <div class="text-center">
                                            <span>[2 - ZAYIF]</span><br />
                                            <input class="form-check-input" type="radio" name="@itemDt.Id" value="1" />
                                        </div>
                                        <div class="text-center">
                                            <span>[3 - ORTA]</span><br />
                                            <input class="form-check-input" type="radio" name="@itemDt.Id" value="1" />
                                        </div>
                                        <div class="text-center">
                                            <span>[4 - İYİ]</span><br />
                                            <input class="form-check-input" type="radio" name="@itemDt.Id" value="1" />
                                        </div>
                                        <div class="text-center">
                                            <span>[5- ÇOK İYİ]</span><br />
                                            <input class="form-check-input" type="radio" name="@itemDt.Id" value="1" />
                                        </div>
                                    </td>

                                </tr>
                            }
                        }
                    }

                    <tr>
                        <td>
                            <hr class="bg-black w-100">
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold pt-5">
                            Daha üst bir görev için aday olabilir mi, ne zaman?
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex">
                            <div class="text-nowrap text-center me-3">
                                <input class="form-check-input" type="radio" name="46" value="1">
                                <span>EVET</span>
                            </div>
                            <div class="text-center d-flex w-100 me-3">
                                <select class="form-select form-select-sm fs--2">
                                    <option value="">Evet ise seçiniz...</option>
                                    <option value="1 YIL">1 YIL</option>
                                    <option value="1-2 YIL">1-2 YIL</option>
                                    <option value="2+ YIL">2+ YIL</option>
                                </select>
                            </div>
                            <div class="text-nowrap text-center me-3">
                                <input class="form-check-input" type="radio" name="46" value="1">
                                <span>HAYIR</span>
                            </div>
                            <div class="text-center d-flex w-100">
                                <span class="text-nowrap me-3 fw-bold">NEDEN :</span>
                                <input class="form-control form-control-sm fs--2" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr class="bg-black w-100">
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Halen yürüttüğü görev ile eş düzeyde, başka bir görevde çalışması önerilebilir mi?</td>
                    </tr>
                    <tr>
                        <td class="d-flex">
                            <div class="text-nowrap text-center me-3">
                                <input class="form-check-input" type="radio" name="46" value="1">
                                <span>EVET</span>
                            </div>
                            <div class="text-center d-flex w-100 me-3">
                                <span class="text-nowrap me-3 fw-bold">HANGİ GÖREV :</span>
                                <input class="form-control form-control-sm fs--2" type="text">
                            </div>
                            <div class="text-nowrap text-center me-3">
                                <input class="form-check-input" type="radio" name="46" value="1">
                                <span>HAYIR</span>
                            </div>
                            <div class="text-center d-flex w-100">
                                <span class="text-nowrap me-3 fw-bold">NEDEN :</span>
                                <input class="form-control form-control-sm fs--2" type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr class="bg-black w-100">
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Önerilen Eğitimler (Çalışan artan sorumluluklarına hangi yollarla hazır olur? Başarılı olması için hangi ek eğitime ihtiyacı olacaktır?)</td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="1-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="2-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="3-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="4-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="5-">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr class="bg-black w-100">
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Şirket içi Alınacak Aksiyonlar </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="1-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="2-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="3-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="4-">
                            <input class="form-control form-control-sm fs--2 w-100" type="text" placeholder="5-">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
        <form asp-asp-controller="Hr" asp-action="UpdateRatio" method="post" class="modal-content position-relative">
            <div class="modal-body p-0">
                <div class="p-4 pb-0">
                    <div class="mb-3">
                        <label class="col-form-label" for="recipient-name">Ağırlık Oranı Giriniz</label>
                        <input class="form-control" type="number" value="" name="Ratio" />
                        <input class="d-none" name="Id" Id="IdRatio" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Güncelle</button>
            </div>
        </form>
    </div>
</div>
<script>
    function getBagliBaslik(v) {
        var ustBaslik = document.getElementById('selectUstBaslik');
        var altBaslik = document.getElementById('selectAltBaslik');
        if (v == 0) {
            ustBaslik.classList.add('d-none');
            altBaslik.classList.add('d-none');
        } else if (v == 1) {
            ustBaslik.classList.remove('d-none');
            altBaslik.classList.add('d-none');
        } else if (v == 2) {
            ustBaslik.classList.add('d-none');
            altBaslik.classList.remove('d-none');
        }
    }
    function valid() {
        var v = document.getElementById('selectTip').value;
        var ustBaslik = document.getElementById('selectUstBaslik');
        var altBaslik = document.getElementById('selectAltBaslik');
        if (v == 1 && ustBaslik.children[0].value == '') {
            alert('Başlık seçiniz..!');
        } else if (v == 2 && altBaslik.children[0].value == '') {
            alert('Alt başlık seçiniz..!');
        }
    }
    function setIdRatio(p) {
        document.getElementById("IdRatio").value = p;
    };
</script>