@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewData["title"] = "Hedef Belirleme";
}
<form asp-controller="Target" asp-action="Create" method="post" class="card mb-1">
    <div class="card-body">
        <div class="col-sm-12">
            @foreach (var item in Model.Employees)
            {
                <div class="d-flex justify-content-between">
                    <img class="rounded-circle img-thumbnail shadow-sm" src="/img/employee/@(item.TC).jpg" width="200">
                    <h4 class="text-primary"><span class="text-warning">Dönem :</span> @Model.TargetPeriods.Select(s=>s.StartDate.ToString("dd.MM.yyyy")+" - "+s.EndDate.ToString("dd.MM.yyyy")).FirstOrDefault()</h4>
                </div>
                <div class="col-sm-12">
                    <h4 class="mb-1">@item.Name @item.LastName</h4>
                    <h5 class="fs-9 fw-normal">@Model.Positions.Where(w=>w.Code == item.Position).Select(s => s.Name).FirstOrDefault()</h5>
                    <p class="text-500">@Model.Departments.Where(w=>w.Code == item.Department).Select(s => s.Name).FirstOrDefault()</p>
                    <input class="d-none" name="Employee" value="@item.TC" />
                </div>
            }
        </div>
        <div class="col-sm-12 d-flex justify-content-between">
            <div class="col-sm-10 pe-1">
                <div class="col-sm-12 mb-1">
                    <select class="form-select form-select-sm fs--2" name="KpiCode">
                        <option value="" selected>KPI Seçiniz...</option>
                        @foreach (var item in Model.KPIs.OrderBy(o=>o.Name))
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <input placeholder="Hedef Açıklama" type="text" class="form-control form-control-sm fs--2" name="Explanation" required="">
                    <input class="d-none" type="number" name="TargetPeriodId" value="@Model.TargetPeriods.Select(s=>s.Id).FirstOrDefault()">
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-outline-success w-100 h-100" type="submit">Hedef Ekle</button>
            </div>
        </div>
    </div>
</form>
<div class="card scrollbar" style="height:41vh">
    <table class="table table-sm table-hovered table-bordered table-striped fs--2">
        <thead class="position-sticky top-0 bg-secondary text-white">
            <tr>
                <th class="text-center">KPI</th>
                <th class="text-center">Hedef</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Targets.OrderBy(o => o.Explanation))
            {
                <tr>
                    <td class="align-middle text-nowrap">@Model.KPIs.Where(w=>w.Code==item.KpiCode).Select(s=>s.Name).FirstOrDefault()</td>
                    <td class="align-middle text-wrap">@item.Explanation</td>
                    <td class="text-center align-middle">
                        <form asp-controller="Target" asp-action="Delete" method="post">
                            <button class="btn btn-sm btn-outline-danger fs--2" name="Id" value="@item.Id" type="submit">
                                <span class="far fa-trash-alt"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>