@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Hedef Listesi";
}
<style>
    .choices {
        font-size: 0.6944444444rem !important;
    }

    .choices__inner {
        font-size: 0.6944444444rem !important;
        min-height: 24.66px !important;
        padding: 0px 0px 0px 0px;
        line-height: 0rem !important;
    }

    .choices__list--multiple .choices__item {
        font-size: 0.6944444444rem !important;
    }

    .choices__list--dropdown .choices__item {
        font-size: 0.6944444444rem !important;
    }

    .choices__list--dropdown .choices__item--selectable::after {
        font-size: 8px !important;
    }

    .choices__heading {
        font-size: 8px !important;
    }

    .choices__input {
        font-size: 12px !important;
    }
</style>
<form asp-controller="Target" asp-action="Create" class="card mb-1">
    <div class="card-body">
        <div class="col-sm-12">
            @foreach (var item in Model.Employees)
            {
                <img class="rounded-circle img-thumbnail shadow-sm" src="/img/employee/@(item.TC).jpg" width="200">
                <div class="col-sm-12">
                    <h4 class="mb-1">@item.Name @item.LastName</h4>
                    <h5 class="fs-9 fw-normal">@Model.Positions.Where(w => w.Code == item.Position).Select(s => s.Name).FirstOrDefault()</h5>
                    <p class="text-500">@Model.Departments.Where(w =>    w.Code == item.Department).Select(s => s.Name).FirstOrDefault()</p>
                    <input class="d-none" name="Employee" value="@item.TC" />
                </div>
            }
        </div>
        <div class="col-sm-12 d-flex justify-content-between">
            <div class="col-sm-10 pe-1">
                <div class="col-sm-12 mb-1">
                    <select class="form-select form-select-sm fs--2 js-choice" name="KpiCode" data-options='{"removeItemButton":true,"placeholder":true,"searchResultLimit":10}' required>
                        <option class="fs--2" value="">KPI Seçiniz...</option>
                        @foreach (var item in Model.KPIs)
                        {
                            <option class="fs--2" value="@item.Code">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-12">
                    <input placeholder="Hedef Açıklama" type="text" class="form-control form-control-sm fs--2" name="Explanation" required />
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-outline-success w-100 h-100" type="submit">Hedef Ekle</button>
            </div>
        </div>
    </div>
</form>
<div class="card scrollbar" style="height:41vh">
    <table class="table table-sm table-hovered table-bordered table-striped fs--2">
        <thead class="position-sticky top-0 bg-secondary text-white">
            <tr>
                <th class="text-center">KPI</th>
                <th class="text-center">Hedef</th>
                <th class="text-center">Çalışan</th>
                <th class="text-center">Durum</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Targets)
            {
                //Active
                string activeSpan = "";
                if (@item.IsActive)
                {
                    activeSpan = "far fa-check-circle text-success";
                }
                else
                {
                    activeSpan = "far fa-times-circle text-danger";
                }
                //Active
                <tr>
                    <td class="align-middle text-nowrap">@Model.KPIs.Where(w=>w.Code==item.KpiCode).Select(s=>s.Name).FirstOrDefault()</td>
                    <td class="align-middle text-wrap">@item.Explanation</td>
                    <td class="align-middle text-nowrap text-center">@Model.Employees.Where(w=>w.TC==item.Employee).Select(s=>s.Name+" "+s.LastName).FirstOrDefault()</td>
                    <td class="align-middle text-center"><span class="@activeSpan"></span></td>
                    <td class="text-center align-middle">
                        <form asp-controller="Target" asp-action="Delete" method="post">
                            <button class="btn btn-sm btn-outline-danger fs--2" value="@item.Id" name="Id">
                                <span class="far fa-trash-alt"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>