@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewBag.Title = "Form Listesi";
}
<div class="card">
    <div class="card-body">
        <div class="col-sm-12">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Kod</th>
                        <th>İsim</th>
                        <th>Açıklama</th>
                        <th class="text-center">Oluşturan</th>
                        <th class="text-center">Oluşturma Tarihi</th>
                        <th class="text-end">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FormMases.OrderBy(o => o.Id))
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Explanation</td>
                            <td class="text-center">@item.CreatedBy</td>
                            <td class="text-center">@item.CreatedAt.ToString("dd.MM.yyyy HH:ss")</td>
                            <td class="d-flex justify-content-end">
                                <form asp-controller="Evaluation" asp-action="ShowForm">
                                    <button class="btn btn-sm btn-outline-primary me-2" name="Id" value="@item.Id">
                                        <span class="fas fa-expand-alt"></span>
                                    </button>
                                    <input class="d-none" name="Code" value="@Model.Evaluations.Select(s=>s.Code).FirstOrDefault()" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>