@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewData["title"] = "Performans Kartı Oluştur";
}
<style>
    .choices {
        font-size: 0.6944444444rem !important;
    }

    .choices__inner {
        font-size: 0.6944444444rem !important;
        min-height: 24.66px !important;
        padding: 0px 0px 0px 0px;
        line-height: 0rem !important;
    }

    .choices__list--multiple .choices__item {
        font-size: 0.6944444444rem !important;
    }

    .choices__list--dropdown .choices__item {
        font-size: 0.6944444444rem !important;
    }

    .choices__list--dropdown .choices__item--selectable::after {
        font-size: 8px !important;
    }

    .choices__heading {
        font-size: 8px !important;
    }

    .choices__input {
        font-size: 12px !important;
    }
</style>
<div class="col-sm-12 d-flex justify-content-between">
    @foreach (var item in Model.Employees)
    {
        <div class="card col-sm-4">
            <div class="card-body fs--2">
                <div class="d-flex justify-content-between">
                    <img class="rounded-circle img-thumbnail shadow-sm" src="/img/employee/@(item.TC).jpg" width="200">
                    <div>
                        <div class="text-end">
                            <span class="badge badge-soft-warning">Performans Kartı</span>
                        </div>
                        <div class="text-end">
                            <span class="badge badge-soft-info">@Model.EmployeeKpis.Select(s=>s.StartDate.ToShortDateString()).FirstOrDefault()</span>
                            <span class="badge badge-soft-info">@Model.EmployeeKpis.Select(s=>s.EndDate.ToShortDateString()).FirstOrDefault()</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <h5 class="mb-1">@item.Name @item.LastName</h5>
                    <h6 class="fs-9 fw-normal">@Model.Positions.Where(w => w.Code == item.Position).Select(s => s.Name).FirstOrDefault()</h6>
                    <p class="text-500">@Model.Departments.Where(w => w.Code == item.Department).Select(s => s.Name).FirstOrDefault()</p>
                </div>
            </div>
        </div>
    }
    <div class="card col-sm-8 ms-1 scrollbar" style="height:37vh">
        <table class="table table-sm table-hovered table-bordered table-striped fs--2">
            <thead class="position-sticky top-0 bg-secondary text-white">
                <tr>
                    <th class="text-center">KPI</th>
                    <th class="text-center">Hedef</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Targets.Where(w => !Model.PerformanceCards.Select(s => s.TargetId).Contains(w.Id)))
                {
                    <tr>
                        <td class="align-middle text-nowrap">@Model.KPIs.Where(w=>w.Code==item.KpiCode).Select(s=>s.Name).FirstOrDefault()</td>
                        <td class="align-middle text-wrap">@item.Explanation</td>
                        <td class="text-center align-middle">
                            <form asp-controller="KPI" asp-action="EmployeeCard" method="post">
                                <button class="btn btn-sm btn-outline-success fs--2" value="@item.Id" name="TargetId">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <input class="d-none" name="KpiId" type="number" value="@Model.EmployeeKpis.Select(s=>s.Id).FirstOrDefault()" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="card col-sm-12 mt-1">
    <div class="card-body">
        <div class="col-sm-12 mt-1">
            <table class="table table-sm table-striped table-bordered fs--2">
                <thead>
                    <tr class="bg-soft-primary">
                        <th class="text-center">KPI</th>
                        <th class="text-center">Hedef</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.PerformanceCards)
                    {
                        <tr>
                            <td class="align-middle text-nowrap">@Model.KPIs.Where(w=>w.Code==Model.Targets.Where(w=>w.Id==item.TargetId).Select(s=>s.KpiCode).FirstOrDefault()).Select(s=>s.Name).FirstOrDefault()</td>
                            <td class="align-middle text-wrap">@Model.Targets.Where(w => w.Id == item.TargetId).Select(s => s.Explanation).FirstOrDefault()</td>
                            <td class="text-center align-middle">
                                <form asp-controller="KPI" asp-action="DeletePerformanceCard" method="post">
                                    <button class="btn btn-sm btn-outline-danger fs--2" value="@item.Id" name="Id">
                                        <span class="far fa-trash-alt"></span>
                                    </button>
                                    <input class="d-none" name="Id" value="@item.Id" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>