@model PerformansYonetimSistemi.ViewModels.MainViewModel
@{
    ViewData["Title"] = "KPI Skor Kartları";
}
<style>
    .pointer {
        cursor: pointer;
    }
</style>
@foreach (var item in Model.Employees)
{
    <div class="card mb-1">
        <div class="card-body">
            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <img class="rounded-circle img-thumbnail shadow-sm" src="/img/employee/@(item.TC).jpg" width="200">
                    <div class="col-sm-12">
                        <h4 class="mb-1">@item.Name @item.LastName</h4>
                        <h5 class="fs-9 fw-normal">@Model.Positions.Where(w => w.Code == item.Position).Select(s => s.Name).FirstOrDefault()</h5>
                        <p class="text-500">@Model.Departments.Where(w => w.Code == item.Department).Select(s => s.Name).FirstOrDefault()</p>
                    </div>
                </div>
                @foreach (var ek in Model.EmployeeKpis.Where(w => w.TC == item.TC))
                {
                    <div class="card col-sm-9">
                        <div class="card-header bg-soft-secondary">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="badge bg-info">Performans Kartı</span>
                                    <span class="badge bg-warning">@ek.StartDate.ToShortDateString() - @ek.EndDate.ToShortDateString()</span>
                                </div>
                                <div>
                                    <form asp-controller="KPI" asp-action="UpdatePoint" method="post">
                                        <button class="btn btn-sm btn-outline-success" type="submit" onmouseover="getPointData('@ek.Id')">Puanları Güncelle</button>
                                        <input class="d-none" name="pointData" id="pointData@(ek.Id)" />
                                    </form>
                                </div>
                                <div>
                                    <span class="badge badge-soft-primary">Hedeflerin Toplam Oranı</span>
                                    <span class="badge badge-soft-success">% @Model.PerformanceCards.Where(w=>w.KpiId==ek.Id).Sum(s=>s.Ratio)</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-soft-info">
                            <div class="row justify-content-around">
                                @foreach (var ksc in Model.PerformanceCards.Where(w => w.KpiId == ek.Id).OrderBy(o => o.Id))
                                {
                                    string radioChecked = "checked";
                                    int point = ksc.Point;
                                    <div class="card col-sm-12 mb-1">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <label>@Model.KPIs.Where(w => w.Code == Model.Targets.Where(w => w.Id ==ksc.TargetId).Select(s => s.KpiCode).FirstOrDefault()).Select(s=>s.Name).FirstOrDefault()</label>
                                                <span class="badge rounded-pill badge-soft-primary pt-2 pointer" data-bs-toggle="modal" data-bs-target="#ratioModal" onclick="setIdRatio(@ksc.Id)">%@(ksc.Ratio)</span>
                                            </div>
                                            <label class="form-label form-label-sm fs--2 text-400">@Model.Targets.Where(w => w.Id == ksc.TargetId).Select(s => s.Explanation).FirstOrDefault()</label>
                                            <div class="col-sm-12 d-flex justify-content-between">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioBtn1@(ksc.KpiId)@(ksc.TargetId)" type="radio" name="@(ksc.KpiId+"-"+ksc.TargetId)" @if (point==1)
                                                    {
                                                        @radioChecked
                                                    }/>
                                                    <label class="form-check-label fs-1" for="radioBtn1@(ksc.KpiId)@(ksc.TargetId)"><span class="badge bg-danger">1</span></label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioBtn2@(ksc.KpiId)@(ksc.TargetId)" type="radio" name="@(ksc.KpiId+"-"+ksc.TargetId)" @if (point == 2)
                                                    {
                                                        @radioChecked
                                                    }/>
                                                    <label class="form-check-label fs-1" for="radioBtn2@(ksc.KpiId)@(ksc.TargetId)"><span class="badge bg-warning">2</span></label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioBtn3@(ksc.KpiId)@(ksc.TargetId)" type="radio" name="@(ksc.KpiId+"-"+ksc.TargetId)" @if (point == 3)
                                                    {
                                                        @radioChecked
                                                    }/>
                                                    <label class="form-check-label fs-1" for="radioBtn3@(ksc.KpiId)@(ksc.TargetId)"><span class="badge bg-primary">3</span></label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" id="radioBtn4@(ksc.KpiId)@(ksc.TargetId)" type="radio" name="@(ksc.KpiId+"-"+ksc.TargetId)" @if (point == 4)
                                                    {
                                                         @radioChecked;
                                                    }
                                                    />
                                                    <label class="form-check-label fs-1" for="radioBtn4@(ksc.KpiId)@(ksc.TargetId)"><span class="badge bg-success">4</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="modal fade" id="ratioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
        <form asp-asp-controller="KPI" asp-action="UpdateRatio" method="post" class="modal-content position-relative">
            <div class="modal-body p-0">
                <div class="p-4 pb-0">
                    <div class="mb-3">
                        <label class="col-form-label" for="recipient-name">Ağırlık Oranı Giriniz</label>
                        <input class="form-control" type="number" value="" name="Ratio" />
                        <input class="d-none" name="Id" Id="IdRatio" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Güncelle</button>
            </div>
        </form>
    </div>
</div>
<script>
    function setIdRatio(p) {
        document.getElementById("IdRatio").value = p;
    };
    function getPointData(kpiId) {
        var jsonData = "";
        var rb = document.getElementsByClassName('form-check-input');
        for (i = 0; i < rb.length; i++) {
            if (rb[i].checked) {
                jsonData = jsonData + rb[i].name + '-' + rb[i].parentNode.children[1].children[0].innerHTML + ',';
            }
        }
        document.getElementById('pointData' + kpiId).value = jsonData.substring(0, jsonData.length - 1);
    };
</script>